<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title>웹공학 해커톤 프로젝트</title>

    <!-- [Bootstrap] -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Kakao 공유 위함 -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        Kakao.init('javasscript 인증키');
    </script>
    <style>
        @font-face {
        font-family: 'Y_Spotlight';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    .namefont{
        font-family: 'Y_Spotlight';
    }

        #container{
            width:1000px;
            height:1000px;
        }

        #topContainer{
            width: 100%;
            height: 50%;
            
           
        }
        #bottomContainer{
            width: 100%;
            height: 50%;
           
           
        }
        #btn1{
            margin:0 auto;
            
           background-color: #333;
           border: 2px solid #333;
           color: #fff;
           line-height: 40px;
        }
        .button:hover {
       background-color: #fff;
       border-color: #59b1eb;
       color: #59b1eb;
    }
        div {text-align: center;}
    </style>
</head>
    
<body>

    <div id="container">
        <div id="topContainer">
            <section id="name" class="my-5 py-5 px-4 mx-auto">
                <div class="namefont name_title mx-auto mt-3"><h1>한 눈에 보는 데이터</h1></div>
            
                <img src ="https://postfiles.pstatic.net/MjAyMjA5MTRfNTQg/MDAxNjYzMTQ3Njc3NjQ2.CIQOMj290h5qXoGwS52KwrS-H4r0eLX5p6Cck38Tv60g.gvrnPexgkA00Zig7GZBPlenQWY3dn-lhBNvooUSWu18g.PNG.zerosugarcoke/titlepicture.png?type=w966" 
                    width="700px"
                    height="500px">
                </img>
        </div>
        <div id="bottomContainer">
            <button id="btn1" type="button" class="" onClick="test()">Button</button></p>
            <span style="font-weight: bold;">한성대학교 넘버원</span></p>
            기상청은 거짓말쟁이<div class="">
            
            <p>기상청이 예보한 기온</p>
            <input type="text" id="predT" value=""/>
            <p>AI예측 기온 : </p>
            <input type="text" id="aiPredT" value=""/><br>
            <span style="font-weight: bold; color: #446bb3;">#박도 #윤정현 #박소은 #박시현</span>
        
        
            <div class="share"><br></br>
            <div class="share_text mt -3">공유하기</div>
            <img class="facebook col-lg-l col-sm-2 img-fluid" src="https://postfiles.pstatic.net/MjAyMjA5MTRfNDIg/MDAxNjYzMTQ3NjcyMjE3.86HCY2PDQx7coNLR7a8wquTyFM3-H0siTdOgv0PmG80g.35iPiBSDgEQRIInWG0Vk0w0w50hB4Hs6Y4goTsoPx2Eg.PNG.zerosugarcoke/facebook.png?type=w966"onclick="js:shareFacebook()">
            <img class="kakao col-lg-l col-sm-2 img-fluid" src="https://postfiles.pstatic.net/MjAyMjA5MTRfMjc1/MDAxNjYzMTQ3NjczODU2.Fal1dBAUDF8CwW95mpgaOC8MmB7o-7gUOlJEgOk1qKYg.tXzJW-iGOroxlBQcVW1TOK0F_SDjOgNKsWcKkL8-3uMg.PNG.zerosugarcoke/kakao.png?type=w966"onclick="js:sendLink()">
            <img class="linkcopy col-lg-l col-sm-2 img-fluid" src="https://postfiles.pstatic.net/MjAyMjA5MTRfMjEw/MDAxNjYzMTQ3Njc1NTE1.E91j0j3GpHHtE4yYiH3_WymiSfnfuU1J-sojiXG4qo4g.HjYaqbDJE2Nu6g1Mywmch3xVdfJCF8crYx6xkAsQLJMg.PNG.zerosugarcoke/linkcopy.png?type=w966"onclick="js:clip()">
        </div>
    </section>


    </div>


</body>
<script>
    function test(){
    var httpRequest;
        
        httpRequest = new XMLHttpRequest();
        
        httpRequest.onreadystatechange = () => {
            
            
            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                
                //console.log(`data : ${JSON.stringify(data)}`);
                    if (httpRequest.status === 200 ||  httpRequest.status == 201) {
                        var res = httpRequest.response;
                        console.log(`뭐라고오길래? ${res}`);
                        //console.log(`뭐라고오길래? ${res.data}`);
                        console.log(`뭐라고오길래? ${JSON.stringify(res)}`);
                        console.log(`성공오나? ${JSON.stringify(res.stdout)}`);
                        console.log(`실패오나? ${JSON.stringify(res.stderr)}`);
                        if(res.code == 200) { // 성공
                            
                            //const result = `결과 : ${res.stdout.pass === true ? "정답입니다!!!" : "오답입니다"}\n${res.stdout.correct} / ${res.stdout.total}\n정답률 : ${parseInt(res.stdout.percentage)}%`;
                            //const result = res.stdout;
                            //console.log(`result 뭐로오지? ${result}`);
                            
                            //document.getElementById("resultSpace").innerText = res.stdout;
                            //document.getElementById("resultSpace").innerText = result;
                            document.getElementById("aiPredT").value = `${JSON.stringify(res)}`;
                            document.getElementById("aiPredT").value = `${res}`;
                            document.getElementById("aiPredT").value = `${res}`;
                            //document.getElementById("resultSpace").style.color = "white";
                            //if ( res.stdout.pass === true ) {
                                // if ( window.confirm("문제를 맞췄습니다!\n문제페이지로돌아가시겠습니까?") ) {
                                //     history.back();
                                // }
                            //}
                        } //else if (res.code == 100) {
                            //document.getElementById("resultSpace").innerText = res.stderr;
                            //document.getElementById("resultSpace").style.color = "red";
                        //}
                        
                        document.getElementById("aiPredT").value = `${res}`;
                    } else {
                        alert('Request Error!');
                    }
                }
            };
            var predt = document.getElementById("predT").value;
            
            //httpRequest.open('POST', `${ipConfig}/test`,true);
            httpRequest.open('GET', `modeling/polls/${predt}`,true);
            //httpRequest.responseType = "json";
            httpRequest.setRequestHeader("Content-Type", "application/json");  
            
            // userid, 푼 문제 번호 넘겨줘야 함
            httpRequest.send();
            
    }
</script>
<script>
    //페이스북 공유
    function shareFacebook() {
        var sendUrl = "배포 URL을 넣어주세요"; // 전달할 URL
        window.open("http://www.facebook.com/sharer/sharer.php?u=" + sendUrl);
    }

    //카카오톡 공유
    function sendLink() {
        Kakao.Link.sendDefault({
            objectType: 'feed',
            content: {
                title: '유형 테스트 제목',
                description: '유형테스트 설명',
                imageUrl: './썸네일 이미지 경로',
                link: {
                    mobileWebUrl: '배포 URL을 넣어주세요',
                    webUrl: '배포 URL을 넣어주세요',
                },
            },
            buttons: [
                {
                    title: '테스트 하러가기!!',
                    link: {
                        mobileWebUrl: '배포 URL을 넣어주세요',
                        webUrl: '배포 URL을 넣어주세요',
                    },
                },
            ],
        })
    }

    //클립보드에 복사
    function clip() {
        var url = '배포 URL을 넣어주세요';
        var textarea = document.createElement("textarea");
        document.body.appendChild(textarea);
        /* url = window.document.location.href;*/
        textarea.value = url;
        textarea.select();
        document.execCommand("copy");
        document.body.removeChild(textarea);
        alert("클립보드에 복사되었습니다.")
    }
</script>

</html>